<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                NgClass
            </mat-card-title>
            <mat-card-subtitle>
                La directive NgClass nous permet de définir dynamiquement la classe CSS pour un élément DOM.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="example">
                <div [ngClass]="{
                    'on-color': color === true,
                    'off-color': color === false
                }" class="cube"></div>
            </div>
            <div class="action">
                <button mat-raised-button color="primary" (click)="switchColor()">Switch color</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>