<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                NgSwitch
            </mat-card-title>
            <mat-card-subtitle>
                La NgSwitch directive vous permet de rendre différents éléments en fonction d'une condition donnée.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="example">
                <span [ngSwitch]="selectedValue">
                    <div *ngSwitchCase="StatusValue.on" [ngStyle]="{'background-color': Color.on}" class="cube"></div>
                    <div *ngSwitchCase="StatusValue.warning" [ngStyle]="{'background-color': Color.warning}" class="cube"></div>
                    <div *ngSwitchCase="StatusValue.off" [ngStyle]="{'background-color': Color.off}" class="cube"></div>
                    <div *ngSwitchDefault [ngStyle]="{'background-color': 'Color.undefined'}" class="cube"></div>
                </span>
            </div>
            <div class="action">
                <mat-form-field appearance="fill">
                    <mat-label>Select service status</mat-label>
                    <mat-select (selectionChange)="selectedStatus($event)">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let status of statuses" [value]="status.value">
                            {{ status.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
</div>