<mat-toolbar color="primary">  
    <div>
        <button mat-icon-button 
            aria-label="Toggle sidenav" 
            (click)="toggleSidenav()" 
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    </div>

    <span>My Application</span>

    <ng-template [ngIf]="(isHandset$ | async) === false">
        <div>
            <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>home</mat-icon>
                Accueil
            </a>
            <a mat-button routerLink="/blog" routerLinkActive="active">
                <mat-icon>bookmark_border</mat-icon>
                Blog
            </a>
            <a mat-button routerLink="/contact" routerLinkActive="active">
                <mat-icon>info</mat-icon>
                Contact
            </a>
        </div>
    </ng-template>
</mat-toolbar>
