<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                NgIf
            </mat-card-title>
            <mat-card-subtitle>
                La NgIf directive vous permet de définir un modèle conditionner par une expression boolean.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="example">
                <div *ngIf="status; else elseBlock" [style.background-color]="Color.on" class="cube"></div>

                <ng-template #elseBlock>
                    <div [style.background-color]="Color.off" class="cube"></div>
                </ng-template>
            </div>
            <div class="action">
                <button mat-raised-button color="primary" (click)="switchStatus()">Switch status</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>