.container {
  display: flex;
  flex-flow: row wrap;
  max-width: var(--container-width);
  padding: var(--container-gutter);
  margin: 0 auto;
}

mat-card {
  width: 100%;

  mat-card-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    .example {
      .cube {
        margin: var(--container-gutter);
        width: 80px;
        height: 80px;
        border: solid;
      }

      .on-color {
        background-color: green;
      }

      .off-color {
        background-color: red;
      }
    }
  }
}