<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Directive
            </mat-card-title>
            <mat-card-subtitle>
                La directive nous permet de centraliser un comportement générique
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="example">
                <div class="cube" ColorOn></div>
                <div class="cube" ColorOff></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>